.middle {
	width: 98%;
	margin: 0 auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.title {
    background-color: #111111;
    display: flex;
	justify-content: center;
    text-align:center;
    vertical-align:middle;  
	width: 100%;
    margin: 0 auto;
}
.titleFirst{
    color:#999999;
	font-weight: bold;
	font-size: 1.1vw;
	text-align: center;
	background-color: #222222;	
	float:left;
	width:18.305vw;
	border-left: 0.2vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: 0.2vw solid #111111;
	border-bottom: 0.2vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.titleLast{
    color:#999999;
	font-weight: bold;
	font-size: 1.1vw;
	text-align: center;
	background-color: #222222;	
	float:left;
	width:18.305vw;
	border-left: 0.2vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: 0.2vw solid #111111;
	border-bottom: 0.2vw solid #111111;
	padding: 0vw 0vw 0vw 0vw;
}
.emptyCell{
	border-left: 0.2vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: 0.2vw solid #111111;
	border-bottom: 0.2vw solid #111111;
	background-color: #222222;	
	color:#999999;
	width:2.47vw;
}
.geo, .anemo, .pyro, .electro, .cryo, .hydro{
    background-color: #111111;
	/*width:18.37vw;*/
	height:17.4vw;
    text-align:center;
    vertical-align:middle;  
	display:flex;
    margin: 0 auto;
	justify-content: center;
	border-bottom: none;
}
.emptyTable {
	text-align:center;
	/*height: 18vw;*/
	line-height: 0vw;
	border: none;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0vw 0vw 0vw 0vw;
}
.cell{
	border-left: 0.065vw solid #111111;
	border-right:0.065vw solid #111111;
	display:flex;
	justify-content: center;
	/*width:18.8vw;*/
}
.charTableEmpty{
	background-color: #222222;
	width:6.052vw;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right:0.065vw solid #111111;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableEmptyL{
	background-color: #222222;
	width:6.052vw;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: none;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableNormal{
	background-color: #222222;
	color: #ddd;
	width:6.052vw;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right:0.065vw solid #111111;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableGot{
	background-color: #333333;
	width:6.052vw;
	color: #ddd;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right:0.065vw solid #111111;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableTest{
	color: #555555;
	background-color: #222222;
	width:6.052vw;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right:0.065vw solid #111111;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableNormalL{
	background-color: #222222;
	width:6.052vw;
	color: #ddd;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: none;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableGotL{
	color: #ddd;
	background-color: #333333;
	width:6.052vw;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: none;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.charTableTestL{
	background-color: #222222;
	width:6.052vw;
	color: #555555;
	float:left;
	line-height: 0vw;
	border-left: 0.065vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: none;
	border-bottom: 0.065vw solid #111111;
    padding: 0vw 0vw 0vw 0vw;
}
.img1 img{
	/*width:5.873vw;*/
	width:5.7vw;
}
.img2 img{
	/*width:4vw;*/
	width:5vw;
}
.buttons1{
    height:1.36vw;
	border-bottom: 0.065vw solid #111111;
}
.buttons1 img{
	width:0.6vw;
	height:0.6vw;
}
#button1, #button2 {
    background:none; 
    text-decoration: none; 
    border:none; 
    height: 0.78vw;
    float: left;
    width: 2vw;
    cursor: pointer;
}
#button1 {
    padding-left: 0.7vw;
    padding-top: 0.1vw;

}
#button2 {
    padding-left: 2.5vw;
    margin-top: -0.5vw;


}
[class*="counter"]{
    float: left;
     width: 52%; 
    text-align: center;
    line-height: 0.065vw;
    padding-top: 0.45vw;
    font-size: 0.97vw;
    margin-left: -0.5vw;
}
#empty {
	background-color: #222222;
    border-color: #222222;
}
.weapon{
	background-color: #222222;	
	text-align:center;
	float:left;
    line-height: 1.04vw;
    color:#111111;
	font-weight: bold;
	font-size: 1.1vw;
	width:2.47vw;
    height:17.5vw;
	border-left: 0.2vw solid #111111;
	border-top: 0.2vw solid #111111;
	border-right: 0.2vw solid #111111;
	border-bottom: 0.2vw solid #111111;
}
.img1, .img2 {
	text-align:center;
	max-height: 6.045vw;
	border-bottom: 0.065vw solid #111111;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0vw 0vw 0vw 0vw;
}
.pic1 {
	text-align:center;
	line-height: 0vw;
	border-bottom: 0.065vw solid #111111;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0.1vw 0vw 0vw 0vw;
	border-spacing: 0vw;
}
.text1 {
	width:2.8vw;
	line-height: 0vw;
	border-right: 0.065vw solid #111111;
	border-bottom: 0.065vw solid #111111;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0.1vw 0vw 0vw 0.195vw;
	border-spacing: 0vw;
    text-align: left;
	font-size:0.8vw;
}
.textf1{
	width:2.8vw;
	line-height: 0vw;
	border-right: 0.065vw solid #111111;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0.1vw 0vw 0vw 0.195vw;
	border-spacing: 0vw;
    text-align: left;
	font-size:0.8vw;
}
.text2{
	width:2.8vw;
	line-height: 0vw;
	/*border-right: 0.065vw solid #111111;*/
	border-bottom: 0.065vw solid #111111;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0.1vw 0vw 0vw 0.195vw;
	border-spacing: 0vw;
	font-size:0.8vw;
}
.textf2{
	width:2.8vw;
	line-height: 0vw;
	margin: 0vw 0vw 0vw 0vw;
	padding: 0.1vw 0vw 0vw 0.195vw;
	border-spacing: 0vw;
	font-size:0.8vw;
}
.info{
	border-left: 0.2vw solid #111111;
	width:100%;
}
.geoEl{
	text-align: center;
	background-color:#b6a16d;
	line-height: 1.04vw;
    color:#111111;
	font-weight: bold;
	font-size: 1.1vw;
	text-shadow: -0.13vw 0 #b6a16d, 0 0.13vw #b6a16d, 0.13vw 0 #b6a16d, 0 -0.13vw #b6a16d;
}
.sword {
	background-image: url(Pictures/Icon_Sword_inv.png); 
	background-position: center; 
	background-repeat: no-repeat; 
	height:2.14vw;
	background-size: 2.278vw;

}
.skillimg img{
	width:4vw;
}
.skillimg{
	background: rgb(193,165,79);
background: linear-gradient(0deg, rgba(112,85,35,1) 0%, rgba(193,165,79,1) 100%);
}	