.middle {
	width: 98%;
	height: 90%;
	margin: 0 auto;
    display:flex;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}
.event, .standard, .newbie, .weapon, .free{
    font-size: 0;
	width:16.6%;
	height: 100%;
	border: 0.1vw solid #111111;
}
.bannerName{
    font-size: 1.2vw;
	line-height: 1.5;
    text-align: center;
    width:100%;
    height:100%;
    color: #ddd;
    border: none;
	border-bottom: 0.2vw solid #111111;
    background-color: #222222;
}
.buttonArea11, .buttonArea12, .buttonArea13, .buttonArea14 {
    width:100%;
    height:15%;
    display:block;
    font-size: 0;
    line-height: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;	
}
.addOne{
    width:100%;
	box-sizing: border-box;
	margin: 0;
	color: white;
	padding: 0;
	display:block;
	border:none;
	font-size: 1.2vw;
	line-height: 1.5;
    background-image: url("/Pictures/UI_Icon_Add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
	border-bottom: 0.2vw solid #000000;
    background-color: #222222;
    cursor:pointer;
}
.addOne:hover, .addOne:focus {
    background-color: #333333;
}

.button1, .button2, .button4, .button5, .button6, .button7, .button9, .button10,.button11, .button12, .button14, .button15, .button16, .button17, .button19, .button20 {
    width:12.5%;
    height:100%;
	border: none;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    cursor:pointer;
	font-size: 1.2vw;
	line-height: 1.5;
	color:#222222;
}
.button3, .button8, .button13, .button18{
    cursor:pointer;
    width:50%;
    height:100%;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
	border: none;
	font-size: 1.2vw;
	line-height: 1.5;
	color:white;
}
.button3:hover, .button8:hover, .button13:hover, .button18:hover{
    background-color: #333333;
    border-bottom: 0.2vw solid #333333;
}
.button1:hover, .button1:focus, .button2:hover, .button2:focus, .button6:hover, .button6:focus, .button7:hover, .button7:focus, .button11:hover, .button11:focus, .button12:hover, .button12:focus, .button16:hover, .button16:focus, .button17:hover, .button17:focus {
    background-color: #887bad;
}
.button4:hover, .button4:focus, .button5:hover, .button5:focus, .button9:hover, .button9:focus, .button10:hover, .button10:focus, .button14:hover, .button14:focus, .button15:hover, .button15:focus, .button19:hover, .button19:focus, .button20:hover, .button20:focus {
    background-color: #b6a16d;   
}
.button1, .button6, .button11, .button16{
    background-image: url("/Pictures/UI_BagTabIcon_Avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 0.2vw solid #887bad;
    /*border-left:1px solid #111111;*/
}
.button2, .button7, .button12, .button17{
    background-image: url("/Pictures/UI_BagTabIcon_Weapon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-bottom: 0.2vw solid #887bad;
}
.button3, .button8, .button13, .button18{    
    background-image: url("/Pictures/Icon_3_Stars_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-bottom: 0.2vw solid #333333;
}
.button4, .button9, .button14, .button19 {
    background-image: url("/Pictures/UI_BagTabIcon_Avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 0.2vw solid #b6a16d;
}
.button5, .button10, .button15, .button20{
    background-image: url("/Pictures/UI_BagTabIcon_Weapon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-bottom: 0.2vw solid #b6a16d;
   /* border-right:1px solid #111111;*/
}
.chpinactive{
	border:none;
    width:12.5%;
    height:100%;
	font-size: 1.2vw;
	line-height: 1.5;
    background-color: #111111;
    padding: 0px 0px 0px 0px;
    background-image: url("/Pictures/UI_BagTabIcon_Avatars.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 0.2vw solid #887bad;
}
.wpinactive{
	border:none;
    width:12.5%;
    height:100%;
	font-size: 1.2vw;
	line-height: 1.5;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    background-image: url("/Pictures/UI_BagTabIcon_Weapons.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-bottom: 0.2vw solid #887bad;
}
.sinactive{
	border:none;
    background-image: url("/Pictures/Icon_3_Stars_whites.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-bottom: 0.2vw solid #333333;
    opacity: 1;
    font-size: 1.2vw;
	line-height: 1.5;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    transition-property: none;
	width:50%;
    height:100%;
}
.chginactive{
	border:none;
    width:12.5%;
	font-size: 1.2vw;
	line-height: 1.5;
    height:100%;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    background-image: url("/Pictures/UI_BagTabIcon_Avatars.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 0.2vw solid #b6a16d;
}
.wginactive{
	border:none;
	width:12.5%;
    height:100%;
	font-size: 1.2vw;
	line-height: 1.5;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    background-image: url("/Pictures/UI_BagTabIcon_Weapons.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-bottom: 0.2vw solid #b6a16d;
}
.remove{
    width:100%;
    height:100%;
    /*border: 0.2vw solid #000000;*/
    background-color: #111111;
	border: none;
	border-bottom: 0.1vw solid #222222;
    color: #999999;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8vw;
	line-height: 1.6;
    cursor:pointer;

}
.remove:hover {
    border: none;
	border-bottom: 0.1vw solid #222222;
    background-color: #222222;

}
.entry{
    text-align: center;
    width:100%;
    height:100%;
	font-size: 0.8vw;
    line-height: 1.7;
    display:flex;
    color: #ddd;
    background-color: #111111;
	border: none;
}
.nr5{
    text-align: center;
    width: 10%;
	border-right: 0.1vw solid #222222;
    border-left: none;
    border-top: none;
    border-bottom: 0.1vw solid #222222;
	font-size: 0.8vw;
}
.nr4{
    text-align: center;
    width: 10%;
	border: none;
	font-size: 0.8vw;
	border-right: none;
    border-left: 0.1vw solid #222222;
    border-top: none;
    border-bottom: 0.1vw solid #222222;
}
.name{
    text-align: center;
    width:80%;
    border: none;
	font-size: 0.8vw;
	border-bottom: 0.1vw solid #222222;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
[class*="dropdown-content"]{
    margin-left:16.3%;
    margin-top:0px;
    display: none;
    position: absolute;
    background-color: #222222;
    font-size: 0.8vw;
    width: 16.2%;
    line-height: 1.7; 
    z-index: 1;
	/*border-top: 3px solid yellow;*/
}

/* Links inside the dropdown */
[class*="dropdown-content"] a {
    color: #ddd;
    padding: 0vw 0.5vw;
    text-decoration: none;
    /*height:22px;*/
    display: block;
}

/* Change color of dropdown links on hover */
[class*="dropdown-content"] a:hover {
    color: #333333;
    font-weight: bold;
    }
.dropdown-content1 a:hover, .dropdown-content2 a:hover, .dropdown-content6 a:hover, .dropdown-content7 a:hover, .dropdown-content11 a:hover, .dropdown-content12 a:hover, .dropdown-content16 a:hover{
    background-color: #887bad;
}
.dropdown-content4 a:hover, .dropdown-content10 a:hover, .dropdown-content14 a:hover, .dropdown-content15 a:hover, .dropdown-content19 a:hover{
    background-color: #b6a16d;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.ueberschriftName{
    font-size: 1.2vw;
	line-height: 1.5;
    text-align: center;
    width:100%;
    height:100%;
    color: #ddd;
    border: none;
	border-bottom: 0.2vw solid #111111;
    background-color: #222222;
}
.ueberschriftName2{
    font-size: 1.2vw;
	line-height: 1.5;
    text-align: center;
    width:100%;
    height:100%;
    color: #ddd;
    border: none;
	border-bottom: 0.2vw solid #111111;
    background-color: #222222;	
}
.buttonArea15, .buttonArea16, .buttonArea17, .buttonArea18 {
    width:100%;
    height:15%;
    display:block;
    font-size: 0;
    line-height: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;	
}
.freeChar{
	display:block;
	margin: 0;
	color: #222222;
	padding: 0;
    width:100%;
    height:100%;
    border: none;
	border-bottom: 0.2vw solid #000000;
    background-image: url("/Pictures/UI_IconSmall_MapmarkerMod.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%; 
    background-color: #222222;
    cursor:pointer;
	font-size: 1.2vw;
	line-height: 1.5;
}
.freeChar:hover, .ok:hover, .notok:hover{
	background-color: #333333;	
}
.ok{
    border:none;
	margin: 0;
	color: #222222;
	padding: 0;
	width:50%;
    height:100%;
    display:inline-block;
    background-image: url("/Pictures/UI_IconYesSmall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
    font-size: 1.2vw;
	line-height: 1.5; 
    background-color: #222222;
    cursor:pointer;
	border-bottom: 0.2vw solid #111111;
}
.notok{ 
	border:none;
	margin: 0;
	color: #222222;
	padding: 0;
	width:50%;
    height:100%;
    display:inline-block;
    background-image: url("/Pictures/UI_IconClosedSmall.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
	font-size: 1.2vw;
	line-height: 1.5;
    background-color: #222222;
    cursor:pointer;
	border-bottom: 0.2vw solid #111111;
}
.entry{
    text-align: center;
    width:100%;
    height:100%;
	font-size: 0.8vw;
    line-height: 1.7;
    display:flex;
    color: #ddd;
    background-color: #111111;
	border: none;
}
.entry2{
    text-align: center;
    width:100%;
    height:100%;
    font-size: 0.8vw;
    line-height: 1.7;
    display:flex;
    color: #ddd;
    background-color: #111111;
    border-left: 0.1vw solid #000000;
    border-right: 0.1vw solid #000000;
    border-top: none;
    border-bottom: 0.1vw solid #222222;
}
.entry2hide{
	display:none;
}
.nr{
    text-align: center;
    width:10%;
	border:none;
	font-size: 0.8vw;
	line-height: 1.7;
}
.name2{
    text-align: center;
    width:90%;
	border-left: 0.1vw solid #222222;
	border-right: none;
	border-top: none;
    border-bottom: none;
	font-size: 0.8vw;
	line-height: 1.7;
}
/*.b1{
    background-image: url("/Pictures/UI_Scrollbar_Arrow_Left.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px;
    width: 9px;
    cursor: pointer;
}
.b2{
    background-image: url("/Pictures/UI_Scrollbar_Arrow_Right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px;
    width: 9px;
    cursor: pointer;
	border-right: 1px solid #222222;
	border-left: none;
	border-top: none;
    border-bottom: none;
} */