.middle {
	width: 98%;
	height: 90%;
	margin: 0 auto;
    display:flex;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}
.event, .standard, .newbie, .weapon, .free{
    font-size: 0;
	width:16.6%;
	height: 100%;
}