/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html { font-size: 100% } 
body {
	background: #000000;
	/*font-size: 100%;
	line-height: normal;*/
	height:100%;
	color: #ddd;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	word-wrap:break-word !important;
	font-family: 'Kumbh Sans', sans-serif;
	}
.b{
    display: flex;
    min-height: 49vw;
    flex-direction: column;
}
.bb{
    flex: 1;
}
h1 {
	font-size: 1.3vw;
	text-align: center;
	color: #ddd;
    font-family: 'Open Sans', sans-serif;
}	

h3 {
	font-size: 1.95vw;
	line-height: 2.2vw;
	text-align: center;
	color: #ddd;
}

h3 a {
	color: #ddd;
}

a {
	color: #ddd;
}

h1 {
	text-align:center;
	font-size:1.3vw;
	line-height: 4.6vw;
	font-family: 'Open Sans', sans-serif;
	}
p {
	text-align: center;
}

#logo{
    font-weight: bold;
    font-size: 0.78vw;
    line-height: 5.2vw;
    height: 3.9vw;
    width:9.7vw;
    background-image: url('Pictures/logo.png');
    background-size: 3.9vw;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    margin-left:1.3vw;
}
.menu{ 
    background-color: #333333;
    height:3.9vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.33vw solid #374c2e;  
    width: 100%; 
}
.menu a{
    display: flex;
    font-family: 'Questrial', sans-serif;
    line-height: 3.9vw;
    height:3.9vw;
    font-size:1.2vw;
    float:right;   
}
.hovers:hover{
    background-color: #374c2e; 
    text-decoration: none;
}
.hovers{
    background-color: #333333; 
    text-decoration: none;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.hoversa{
    background-color: #374c2e; 
    text-decoration: underline;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.menuIns{
    float:right;
    line-height: 0;
    display: flex;
}
::-webkit-scrollbar {
    width: 0.85vw;
}
 
::-webkit-scrollbar-track {
    background-color: #000000;

}
::-webkit-scrollbar-thumb {
	border-radius: 0.65vw;
	border: 0.13vw solid #000000; 

	background-color: #dddddd;
}

.download{
    height: 2.28vw;
    width: 2.28vw;
    border:none;
    background-color: #333333;
    background-image: url("/Pictures/UI_CookTabIcon_Attackd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.28vw;
    margin-top:0.78vw;
    cursor:pointer;
    margin-right: 0.33vw;
}
.downloadl{
    height: 2.28vw;
    width: 2.28vw;
    border:none;
    background-color: #333333;
    background-image: url("/Pictures/UI_CookTabIcon_Attackdl.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.28vw;
    margin-top:0.78vw;
    margin-right: 0.33vw;
}
.updown{
    display:flex;
    padding-left: 1.3vw;
    padding-right: 2.28vw;  
}
.upload{
    height: 2.28vw;
    width: 2.28vw;
    border:none;
    position:relative;
    font-size: 1.3vw;
    background-color: #333333;
    background-image: url("/Pictures/UI_CookTabIcon_Attack.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.28vw;
    margin-top:0.78vw;
    
}
.upload input{
    position:absolute;
    width:1.95vw;
    height:3.26vw;
    left:0;
    top:0;
    margin-top:-0.78vw;
    cursor:pointer;
    opacity:0;
}
.footer {   
    position: relative;
    padding: 0.65vw 0vw 0vw 0vw;
    bottom: 0;
    border-top: 0.33vw solid #374c2e;   
    height: 3.26vw;
    line-height: 0.97vw;
    background: #333333;
    font-size: 0.78vw;
    width: 100%;
}
.empty{
    height:0.65vw;
    background:black;
}
/*------------------------------------>end of main<----------------------------*/
.main{
    display: flex;
    width: 70%;
    height:26vw;
    position: relative;
    margin: 0 auto;
background-image: url('Pictures/geovishap.png'); 
    background-color: #222222;
    
    background-size: 22.786vw;
    background-repeat: no-repeat;
    background-position: center top;
    border: 0.33vw solid #111111;
    line-height: 1.3vw;
}
.main p{
    margin-top:16.9vw;
}
