.middle {
	width: 1514px;
	margin: 0 auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}
.title {
    background-color: #111111;
    display: flex;
    text-align:center;
    vertical-align:middle;  
	width: 1511px;
    margin: 0 auto;
}
.titleFirst{
    color:#999999;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	background-color: #222222;	
	float:left;
	width:288px;
	border-left: 2px solid #111111;
	border-top: 2px solid #111111;
	border-right: 2px solid #111111;
	border-bottom: 2px solid #111111;
    padding: 0px 0px 0px 0px;
}
.titleLast{
    color:#999999;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	background-color: #222222;	
	float:left;
	width:288px;
	border-left: 2px solid #111111;
	border-top: 2px solid #111111;
	border-right: 2px solid #111111;
	border-bottom: 2px solid #111111;
}
.title2 {
    background-color: #111111;
    display: flex;
    text-align:center;
    vertical-align:middle;  
	width: 1500px;
    margin: 0 auto;
    border-bottom:5px solid #111111;
	
}
.emptyCell{
	border-left: 2px solid #111111;
	border-top: 2px solid #111111;
	border-right: 2px solid #111111;
	border-bottom: 2px solid #111111;
	background-color: #222222;	
	color:#999999;
	width:38px;
}
.geo, .anemo, .pyro, .electro, .cryo, .hydro{
    background-color: #111111;
	width: 1511px;
	height:268px;
    text-align:center;
    vertical-align:middle;  
	display:flex;
    margin: 0 auto;
}



.main{
    background-color: #111111;
    display: flex;
    text-align:center;
    vertical-align:middle;  
	width: 1500px;
    margin: 0 auto;	
}
.weaponFirst{
    color:#ddd;
    background-color: #222222;	
    border-left: 5px solid #111111;
	border-top: 5px solid #111111;
	border-right: none;
	border-bottom: none;
    padding: 0px 0px 0px 0px; 
    display: flex; 	
    width:300px;
}
.weaponLast{
    color:#ddd;
    background-color: #222222;	
    border-left: 5px solid #111111;
	border-top: 5px solid #111111;
	border-right: 5px solid #111111;
	border-bottom: none;
    padding: 0px 0px 0px 0px; 
    display: flex; 	
    width:300px;
}
.weapontitle{
  	width:300px;  
	border-bottom: 2px solid #111111;
    border-right: none;
    border-left: none;
    border-top: none;
    line-height: 0px;
    padding: 4px 0px 0px 0px;
}
.stars {
  	width:100px;  
    line-height: 0px;
	border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none;
    padding: 0px 0px 0px 0px;
}
.twoinone {
  	width:100px;  
    line-height: 0px;
	border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none;
    padding: 5px 0px 0px 0px;
}
.text1{
    line-height: 0px;
 	border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none; 
    text-align: left;  
    padding: 5px 0px 0px 5px;
    width: 50px;
}
.text2{
    line-height: 0px;
    border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none; 
    padding: 5px 0px 0px 0px; 
    width: 50px;
}
.textf1{
    line-height: 0px;
 	border-bottom: none;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none; 
    text-align: left;  
    padding: 5px 0px 0px 5px;
    width: 50px;
}
.textf2{
    line-height: 0px;
    border-bottom: none;
    border-right: 2px solid #111111;
    border-left: none;
    border-top: none; 
    padding: 5px 0px 0px 0px; 
    width: 55px;
}
.picture {
    
    line-height: 0px;
    width:100px;  
    border-right: 2px solid #111111;
    border-bottom: 2px solid #111111;
    border-left: none;
    border-top: none;  
}
.imgframe {
    position: relative;
    display: inline-block;
    }
.imgframe .hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.imgframe:hover .hidden{
    display: inline;
}
.descr{
    width:200px;
    border:none;
    font-size: 12px;
    line-height: 14px;
    text-align: left;   
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;   
}
.buttons1{
    background-color: #222222;
    height:21px;
    border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
}
#button1, #button2 {
    background:none; 
    text-decoration: none; 
    border:none; 
    height:12px;
    float: left;
    width: 24%;
    cursor: pointer;
}
#button1 {
    padding-left: 2px;
    margin: -5px auto;

}
#button2 {
    padding-left: 2px;
    margin: -5px auto;

}
[class*="counter"]{
    float: left;
    width: 52%;
    text-align: center;
    color:white;
	line-height: 1px;
    margin-top:5px;
    font-size:15px;
}
#empty {
	background-color: #222222;    
}
#empty tr, #empty td {
    border-color: #222222; 
}

.descri::-webkit-scrollbar {
    width: 5px;
}
 
.descri::-webkit-scrollbar-track {
      background-color: #333333;
  outline: 2px solid #222222;
}
 
.descri::-webkit-scrollbar-thumb {
background-color: #ddd;
outline: 2px solid #222222;
}